@import url('default.css');
@font-face {
    font-family: 'NanumSquareRoundExtraBold';
    src: url(/Busking/MYPAGE/fonts/NanumSquareRoundEB.ttf)
}
body {
    transform : rotate(0.04deg); 
}
header {
    height: 66px;
    background-color: aqua;
}

.wrap {
    background-color: white;
    box-sizing: border-box;
}

.wrap h3 {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    font-size: 36px; /* 폰트 사이즈 */
    color: #4f8c6f; /* Dark Sea Green */
    font-family: 'NanumSquareRoundExtraBold';}

.sum {
    overflow: hidden; /* float 속성을 클리어 */
    width: 1280px;
    margin: 0 auto;
}

.nav {
    width: 200px;
    float: left;
    background-color: #777; /* Dark Khaki */
    padding: 20px; /* 내부 패딩 */
    border-radius: 5px;
}
.sum .nav ul li .tap {
    background-color: #4f8c6f;
}
.nav ul li {
    margin: 40px 0; /* 간격 조정 */
    padding: 10px 0; /* 내부 여백 추가 */
    border: px solid black;
}
.nav ul li a {
    display: block;
    text-align: center;
    padding: 10px;
    color: #ffffff; /* White */
    font-size: 18px; /* 폰트 사이즈 */
    background-color: #78c2ad; /* Sea Green */
    border-radius: 5px;
}

.sum .nav ul li a:hover {
    background-color: #4f8c6f; /* Dark Sea Green */
}
.info {
    width: 980px;
    float: left;
    margin-left: 20px; /* 동일한 위 마진과 왼쪽 간격 조정 */
    border: 0px solid black;
    border-radius: 5px;
    background-color: #c4c3c3;
}

.info .info-name {
    float: left;
    width: 30%;
    font-size: 18px; /* 폰트 사이즈 */
    color: white; /* Dark Sea Green */
    
}

.info .info-name li {
    border: 0px solid black;
    height: 50px;
    text-align: center;
    margin: 30px; /* 위아래 간격을 조정하여 세로 정렬 */
    line-height: 50px; /* 세로 정렬을 위해 li의 line-height를 맞춤 */
    border-bottom: 1px solid #777;
}

.info-text {
    float: left;
    width: 70%;
}

.info-text li {
    margin: 30px 0; /* 위아래 간격을 조정하여 세로 정렬 */
    padding: 0 10px;
    border-bottom: 1px solid #777;
    height: 50px; /* 높이를 맞추기 위해 추가 */
    line-height: 50px; /* 세로 정렬을 위해 li의 line-height를 맞춤 */
}