@charset "UTF-8";
@import url('default.css');

.resForm-wrap {
    max-width: 1280px; 
    margin: 0 auto; 
    margin-top: 20px; 
    border: 0px solid #777; 
    box-sizing: border-box;
}

.resForm-wrap .resForm-top > h3 {
    padding: 20px 0 20px 60px;
    font-family: 'NanumSquareNeoExtraBold';
    border: 0px solid #777;
}
.resForm-wrap .resForm-top .resForm-top-loca {
    width: 100%;
    padding: 3% 5%;
    /* background-color: #9CD9D9; */
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
}
.resForm-wrap .resForm-top .resForm-top-loca .resForm-top-loca-left {
    float: left;    
    display: block;
    width: 35%;
    /* background-color: #fff; */
    /* border: 1px solid #777; */
    border-top: 2px solid #777;
    box-sizing: border-box;
}

.resForm-top .resForm-top-loca .resForm-top-loca-left .resForm-top-loca-info {
    /* border-top: 2px solid #777; */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
    background-color: #fff;
    box-sizing: border-box;
    /* padding: 5% 10% 10% 5%; */
}
.resForm-top .resForm-top-loca .resForm-top-loca-left .resForm-top-loca-info > ul {
    display: block;
}
.resForm-top .resForm-top-loca .resForm-top-loca-left .resForm-top-loca-info > ul > li {
    padding: 15px 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
    height: 50px;
    line-height: 20px;
}
.resForm-top .resForm-top-loca .resForm-top-loca-left .resForm-top-loca-info > ul > li:last-child {
    margin-bottom: 0;
    border: none;

}
.resForm-top .resForm-top-loca .resForm-top-loca-left .resForm-top-loca-info > ul > li > b {
    font-family: 'NanumSquareNeo';
    display: inline-block;
    width: 25%;
    white-space: nowrap;
    position: relative;
}

.resForm-top .resForm-top-loca .resForm-top-loca-left .resForm-top-loca-info  > ul > li > b::after {
    content: "";
    display: block;
    width: 3px;
    height: 9px;
    background-image: url("../images/reservation_images/icon_col.png");
    position: absolute;
    top: 4px;
    right: -5px;
    
}
.resForm-top .resForm-top-loca .resForm-top-loca-left .resForm-top-loca-info > ul > li > p {
    display: inline-block;
    margin-left: 15px;
    
	font-family: 'NanumSquareRound';
    font-weight: 500;
    width: 60%;
    min-width: 100px;
}
.resForm-wrap .resForm-top .resForm-top-loca .resForm-top-loca-right {
    float: right; 
    width: 60%;
    cursor: pointer;
    position: relative;
}
.resForm-top-loca .resForm-top-loca-right .resForm-top-loca-img {
    overflow: hidden;
    border-radius: 15px;    
    min-width: 500px;
}
.resForm-top-loca .resForm-top-loca-right .resForm-top-loca-img-hover {
    opacity: 0;
}
.resForm-top-loca .resForm-top-loca-right .resForm-top-loca-img-hover .resForm-img-gradient-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.15) 70%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.3) 100%
    );
    box-sizing: border-box;
}
.resForm-top-loca .resForm-top-loca-right .resForm-top-loca-img-hover .resForm-img-gradient-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.15) 70%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.3) 100%
    );
    box-sizing: border-box;
}
.resForm-top-loca .resForm-top-loca-right .resForm-top-loca-img-hover > strong {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-family: 'NanumSquareNeo';
    font-size: 20px;
}
.resForm-top .resForm-top-loca .resForm-top-loca-right .resForm-top-loca-img > img {
    transition: 0.2s ease;
}
.resForm-top .resForm-top-loca .resForm-top-loca-right:hover .resForm-top-loca-img > img {
    transform: scale(1.1);
}
.resForm-top .resForm-top-loca .resForm-top-loca-right:hover .resForm-top-loca-img-hover {
    opacity: 1;
}



.resForm-mid {
    overflow: hidden; 
    padding: 40px 60px; 
    margin-top: 20px;
}
.resForm-mid .resForm-mid-left {
    float: left; 
    width: 60%;
}
.resForm-mid .resForm-mid-right {
    float: right; 
    width: 30%; 
    padding: 0 30px;
}
.resForm-mid .resForm-mid-right > form {padding: 50px 30px;}
.resForm-mid .resForm-mid-right > form > input {
    display: block; 
    width: 100%; 
    height: 50px;
    font-weight: 600;
    font-family: 'NanumSquareRound';
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}
.resForm-mid .resForm-mid-right > form > input[type=submit] {
    background-color: #5fd7ff41;
    color: #333;
    border: 1px solid #5fd7ff;
    margin-bottom: 20px;
}
.resForm-mid .resForm-mid-right > form > input[type=submit]:hover {
    border: none;
    color: #e2e2e2;
    background-color: #5fd7ff;
}
.resForm-mid .resForm-mid-right > form > input[type=button] {
    border: 1px solid #a2a2a2;
    background-color: #7777772f;
    color: #333;
}
.resForm-mid .resForm-mid-right > form > input[type=button]:hover {
    background-color: #777777;
    color: #e2e2e2;
}

.resForm-bottom {
    overflow: hidden; 
    padding: 20px 60px; 
    margin-top: 20px;
}
.resForm-bottom-nav-list > li {
    width: 33.3333%;
    text-align: center;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    border-bottom: 0;
}
.resForm-bottom-nav-list > li:first-child {
    border-top-left-radius: 15px;
}
.resForm-bottom-nav-list > li:last-child {
    border-top-right-radius: 15px;
}
.resForm-bottom-nav-list > li > a {
    width: 100%;
}