<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busking.board.model.BoardFreeMapper">

	<select id="getFreeList" parameterType="com.busking.util.paging.PageVO" resultType="com.busking.board.model.BoardFreeDTO">
		
		SELECT FREE_NUM, FREE_TITLE, FREE_WRITER, FREE_REGDATE, FREE_HIT 
		FROM (
			SELECT ROWNUM RN,
			       B.* 
			FROM BOARD_FREE B 
			ORDER BY FREE_NUM DESC 
		) 
		WHERE RN > (#{pageNum} - 1) * #{amount} and #{pageNum} * #{amount} >= RN 				
	</select>
	
	<select id="getFreeTotal" resultType="int">
		SELECT COUNT(*) FROM BOARD_FREE 
	</select>
	
	<insert id="writeFree" parameterType="com.busking.board.model.BoardFreeDTO">
		INSERT INTO BOARD_FREE(FREE_NUM, 
							   FREE_WRITER, 
							   FREE_TITLE,
							   FREE_CONTENT,
							   FREE_REGDATE) 
		VALUES('FREE_' || LPAD(BOARD_FREE_SEQ.NEXTVAL, 8, '0'),
		       #{freeWriter},
		       #{freeTitle},
		       #{freeContent},
		       SYSDATE)
	</insert>
	
	<select id="getFreeContent" resultType="com.busking.board.model.BoardFreeDTO" parameterType="String">
		SELECT FREE_TITLE, FREE_LIKE_COUNT, FREE_WRITER, FREE_REGDATE, FREE_CONTENT, FREE_HIT, FREE_CMT_COUNT 
		FROM BOARD_FREE 
		WHERE FREE_NUM = #{freeNum}
	</select>
	
	<update id="increaseHit" parameterType="String">
		UPDATE BOARD_FREE SET FREE_HIT = FREE_HIT + 1 WHERE FREE_NUM = #{freeNum}
	</update>

</mapper>