@import url(../default.css);

/* ----------------------------------------------font---------------------------------------------- */
@font-face {
	font-family: 'NanumSquareNeo';
	src:
		url(../../fonts/NanumSquareNeo/NanumSquareNeo/TTF/NanumSquareNeo-bRg.ttf)
		format('woff');
	font-weight: 900;
	font-style: normal;
}

.index-content, .index-footer, .index-header {
	font-family: 'NanumSquareNeo';
}

/* ----------------------------------------------responsive layout---------------------------------------------- */

/* 1200이상 디자인 */
@media ( min-width :1200px) {
	.index-header, .index-wrap {
		width: 1170px;
	}
	.index-footer-top {
		margin: 0 15%;
	}
	.location-pic {
		margin-top: 200px;
	}
}

/* 992이상 ~ 1199이하 디자인 */
@media ( min-width :992px) and (max-width:1199px) {
	.index-header, .index-wrap {
		width: 970px;
	}
	.index-footer-top {
		margin: 10%;
	}
	.index-preview>.row {
		flex-direction: column;
	}
	.col-md-4 {
		width: auto;
	}
}

/* 991이하 디자인 */
@media ( max-width :991px) {
	.index-header, .index-wrap {
		width: 750px;
	}
	.index-preview>.row {
		flex-direction: column;
	}
	.index-preview>.row>.preview-box {
		margin: 30px
	}
	.index-footer-top {
		margin: 10%;
	}
}

@media ( max-width :1088px) {
	.nav>li>a {
		padding-left: 10px;
	}
}

/* 991 */
@media ( max-width :1159px) {
	.index-preview>.row>.preview-box {
		margin: 50px 150px;
	}
	.index-footer {
		width: auto;
	}
}

@media ( min-width :768px) and (max-width:853px) {
	.navbar-inverse .navbar-brand {
		display: none;
	}
}

/* 767이하 디자인 */
@media ( max-width :767px) {
	.index-header {
		border-bottom: 1px solid #ddd;
	}
	.index-footer-top {
		display: flex;
		flex-direction: column;
	}
	.footer-service {
		padding-left: 20px;
		margin-bottom: 10px;
	}
	.footer-familysite>select {
		margin-left: 20px;
		margin-top: 10px;
	}
	.index-preview>.row>.preview-box {
		margin: 50px 30px !important;
	}
	.location-pic>h2 {
		margin: 0px 20px 0px 20px;
	}
	.location-pic {
		margin-top: 0px;
	}
	#board-three {
		margin-bottom: 300px;
	}
	.location-pic {
		margin-top: 0;
	}
	.navbar-collapse {
		border-bottom: 1px solid #e3e3e3;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
		background-color: #999;
	}
	.navbar-inverse .navbar-nav>li>a:hover {
		color: #999;
	}
}

/* 1032이하 디자인 */
@media ( max-width :1032px) {
	.index-content>.carousel>.carousel-inner>.item>a>img {
		margin-top: 125px;
	}
}
/* 1061이하 로그인 회원가입 버튼 아래로 내려오는것 방지 */
@media ( max-width :1061px) {
}

/* ----------------------------------------------header---------------------------------------------- */
.hea-rightpd {
	padding: 0 80px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: white;
	border-color: white;
}

.navbar-brand {
	padding: 27px 50px 15px 80px;
	font-size: 23px
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: white;
	color: #9d9d9d;
}



.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus,
	.navbar-inverse .navbar-nav>.open>a:hover {
	color: #9d9d9d;
	background-color: white;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
	{
	color: #999;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
	{
	background-color: white;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-inverse .navbar-toggle {
	border-color: #fff;
	margin-top: 20px;
	margin-right: 0px;
	float: left;
	margin-right: 30px;
	margin-left: 30px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #e3e3e3;
}

.navbar-nav>li>a {
	font-size: 19px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover
	{
	color: #9d9d9d;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover {
	font-size: 19px;
}

.navbar-inverse .navbar-brand {
	color: #000;
}

.navbar-inverse .navbar-nav>.active>a {
	color: #000;
}

.navbar-inverse .navbar-nav>li>a {
	color: #000;
}

.myNavbar>ul>li>a :hover {
	color: #9CD9D9;
}
/* --------------------------------------------- */
.dropdown-menu>li>a {
	color: #000;
	font-weight: 900;
}

.dropdown-menu>li>a:hover {
	background-color: #999;
	color: #fff;
}

.dropdown-menu {
	padding: 0;
}
/* 로그인 완료시 프로필 사진 */
.index-top-right>ul>li>a>img {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	position: absolute;
	right: 2%;
	top: 40%;
}

.index-top-right>ul>li {
	display: inline;
	border-left: 1px solid #999;
}

.index-top-right>ul>li>a {
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	font-weight: 100;
	color: #777;
	text-align: center;
	padding: 10px;
	letter-spacing: 2px;
}

.index-top-right>ul>li:nth-child(1) {
	border: none;
}

.dropdown {
	z-index: 1;
}

.index-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	height: 125px;
	padding-top: 23px;
	border-bottom: 1px solid #e3e3e3;
}

.container-fluid>.navbar-collapse {
	margin-top: 13px;
}

.navbar-collapse {
	border: 0px;
}

@media ( max-width :767px) {
	.navbar-collapse {
		border-bottom: 1px solid #e3e3e3;
	}
}

/* ----------------------------------------------content---------------------------------------------- */
.index-wrap {
	margin: 0 auto;
	width: 100%;
	/* 전체 너비 */
}

.index-preview {
	width: 100%;
}

/* 중간 게시판 위 타이틀 */
.index-preview>.middle-title {
	text-align: center;
}

.index-preview>.middle-title>h2 {
	color: #032587;
	font-size: 43px;
	font-weight: bold;
}

.middle-name {
	margin-top: 100px;
}

.middle-row {
	margin-top: 100px;
}

.index-preview>.middle-content {
	text-align: center;
}

.index-preview>.middle-content>h4 {
	color: #000000;
	font-size: 20px;
	font-weight: 500;
}

.index-preview>.middle-line {
	width: 20%;
	border: 1px solid #e3e3e3;
	margin: 0 auto;
	margin-top: 50px;
}

/*배너 좌우 그림자  */
.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.carousel-caption>p {
	font-size: 20px;
	text-shadow: none;
}

/* 배너 */

.carousel-indicatior {
	bottom: 0px;
}

#myCarousel {
	margin-bottom: 80px;
}

/* .carousel-inner {
	margin-top: 30px;
} */

.index-content>.carousel>.carousel-inner>.item>a>img {
	z-index: 0;
	margin-top: 120px;
}

.carousel-inner>.item>.carousel-caption>.banner-left {
	float: left;
}

.carousel-inner>.item>.carousel-caption>.banner-title {
	font-size: 40px;
	margin-left: 30px;
}

.carousel-inner>.item>.carousel-caption>.banner-content {
	margin-top: 80px;
}

/* 전체 뒷배경 */
.background-image {
	background-repeat: no-repeat;
	width: auto;
	background-size: auto;
	box-sizing: border-box;
	background-position: center;
}

.row>element.style {
	margin: 0 0 40% 0;
}

/* ----미리보기 */
.index-preview {
	margin: 0 auto;
}

.index-preview>.row {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 380px;
}

.location-color {
	background-color: #e3e3e3;
	border-radius: 10px;
}

.index-preview>.row>.preview-box {
	display: flex;
	flex-direction: column;
	padding: 30px 0;
	margin: 100px 30px;
	border-radius: 3px;
	background-color: #fff;
	text-decoration: none;
}

.index-preview>.row>.preview-box>.preview-title {
	font-size: 18px;
}

.index-preview>.row>.preview-box>.preview-content {
	font-size: 20px;
}

.preview-date {
	text-align: right;
	white-space: nowrap;
	max-width: 1%;
	overflow: hidden;
	border-bottom: 1px solid #e3e3e3;
}

.with-style::before {
	content: "• ";
	color: #999;
	margin-right: 5px;
	font-size: 1em;
}

/* 게시판  */
.index-board {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.index-board tr th, td {
	text-align: left;
	padding: 8px;
	font-size: smaller;
}

.index-board tr:nth-child() {
	background-color: #e3e3e3;
	border-bottom: 1px solid #777;
}

.index-board tr th {
	font-size: 20px;
	text-align: center;
}

.preview-title>h3>a, .preview-title>.index-board>tr>th, .index-preview .preview-box:nth-child(1) a,
	.index-preview .preview-box:nth-child(2) a, .index-preview .preview-box:nth-child(3) a
	{
	color: #000;
	text-decoration: none;
}

.index-preview>.location-line {
	width: 20%;
	border: 1px solid #e3e3e3;
	margin: 0 auto;
	margin-bottom: 50px;
}

.truncate {
	display: block;
	max-width: 99%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*  --------로케이션 사진------------ */
.location-pic>h2 {
	color: #032587;
	font-weight: 600;
}

.thumbnail {
	border: none;
}

.thumbnail>a>img {
	border-radius: 3px;
}

.thumbnail>a {
	text-decoration: none;
}

.thumbnail>a>div>p {
	text-align: center;
	margin: 30px;
}

.location-pic>p {
	margin: 30px;
	font-size: 20px;
}

.contents-pic {
	margin: 0 auto;
	text-align: center;
}

.contents-pic>.list {
	display: flex;
	text-align: center;
	list-style-type: none;
	justify-content: space-evenly;
	margin: 20px 200px;
}

.result>div {
	position: relative;
}

.result>div>div {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 5%;
	background-color: rgba(0, 0, 0, 0.7);
}

.result img {
	width: 100%;
	transition: opacity 0.3s ease-in-out;
}

.fade-out {
	opacity: 0;
}

.list {
	list-style-type: none;
	padding: 0;
	display: flex;
	gap: 10px;
}

.list li {
	flex: 1;
}

.list img {
	width: 100%;
	cursor: pointer;
	transition: transform 0.1s;
}

.list img:hover {
	transform: scale(1.06);
}

/* 애니메이션 정의 */
@
keyframes fadeIn {from { opacity:0;
	margin-left: -100px;
}

to {
	opacity: 1;
	margin-left: 0px;
}

}
.fade-in {
	animation: fadeIn 0.2s ease-in-out;
}

/* ----------------------------------------------footer---------------------------------------------- */
.index-footer {
	margin-top: 200px;
	overflow: hidden;
	font-weight: 900;
	width: auto;
}

.index-footer>.index-footer-top {
	margin-bottom: 100px;
	padding: 55;
	font-size: 15px;
}

.index-footer>.index-footer-top>.footer-service {
	color: black;
	float: left;
	list-style: none;
}

.footer-service>ul>li>a {
	color: #999;
	text-decoration: none;
	text-align: center;
}

.index-footer>.index-footer-top>.footer-faq {
	color: black;
	float: left;
	padding-left: 20px;
	list-style: none;
}

.footer-faq>ul>li>a {
	color: #999;
	text-decoration: none;
	text-align: center;
}

.index-footer>.index-footer-top>.footer-cscenter {
	color: black;
	float: left;
	padding-left: 20px;
	list-style: none;
}

.footer-cscenter>p {
	color: #999;
}

.index-footer>.index-footer-top>.footer-familysite {
	float: right;
}

.index-footer>.footer-mid {
	padding: 15px 25%;
	color: #999;
	width: 100%;
	overflow: hidden;
}

.footer-mid>div>p {
	float: left;
}

.index-footer>.footer-bottom {
	padding: 5% 10%;
	background-color: #444455;
	color: #999;
	width: auto;
}

.footer-bottom>.footer-info>p>.footer-icon {
	color: #999;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 0px;
    }
}