<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.busking.board.model.BoardCustomerMapper">

	<select id="getList" resultType="com.busking.board.model.BoardCustomerDTO">
		
		SELECT NOTICE_NUM, NOTICE_TITLE, MANAGER_ID, NOTICE_REGDATE, NOTICE_HIT  
		FROM NOTICE
	</select>

	<insert id="regist" parameterType="com.busking.board.model.BoardCustomerDTO">
		
		INSERT INTO NOTICE (NOTICE_NUM, MANAGER_ID, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGDATE, NOTICE_HIT)
    	VALUES (#{noticeNum}, #{managerId}, #{noticeTitle}, #{noticeContent}, SYSDATE, 0)
	</insert>



</mapper>






