<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.busking.board.model.BoardResMapper">

	<!-- 글번호, 유저아이디, 예약날짜, 신청날짜 목록 가져오기 -->
	<select id="getList" resultType="com.busking.board.model.BoardResDTO">

<!-- 		SELECT R.RES_NUM AS RES_NUM, R.USER_ID AS USER_ID, R.RES_DATE, R.RES_REGDATE, L.LOCA_NAME 
		FROM RESERVATIONS R 
		JOIN LOCATIONS L 
		ON R.LOCA_ID = L.LOCA_ID 
		WHERE RES_RESULT = 'T' 
		ORDER BY RES_DATE DESC 
		 -->
		SELECT * 
        FROM ( 
        	SELECT R.RES_NUM, R.USER_ID, R.RES_DATE, R.RES_TIME, R.RES_REGDATE, L.LOCA_NAME, ROWNUM AS RN 
	        FROM RESERVATIONS R 
			JOIN LOCATIONS L 
			ON R.LOCA_ID = L.LOCA_ID 
			WHERE RES_RESULT = 'T' 
			ORDER BY RES_DATE DESC 
	    ) 
        WHERE RN > (#{pageNum} - 1) * #{amount} 
        AND #{pageNum} * #{amount} >= RN 
		
	</select>

	<!-- 글 등록 -->
	<!-- <insert id="regist" parameterType="com.busking.board.model.BoardResDTO"> 
		INSERT INTO FAQ(FAQ_NUM, USER_ID, FAQ_TITLE, FAQ_CONTENT, FAQ_REGDATE, MANAGER_ID) 
		VALUES (BOARD_FAQ_SEQ.NEXTVAL, #{userId}, #{faqTitle}, #{faqContent}, SYSDATE, 
		#{managerId}) RES_CONTENT </insert> -->

	<!-- 글 내용 -->
	<select id="getContent"
		resultType="com.busking.board.model.BoardResDTO">
		
		SELECT * FROM RESERVATIONS WHERE RES_NUM = #{resNum}

		
		<!-- 
		SELECT R.RES_NUM, R.USER_ID, R.RES_DATE, R.RES_REGDATE, L.LOCA_NAME
		FROM RESERVATIONS R
		JOIN LOCATIONS L
		ON R.LOCA_ID = L.LOCA_ID
		WHERE RES_RESULT = 'F'
		ORDER BY RES_DATE DESC  
		-->
		
		
	</select>

	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM RESERVATIONS WHERE RES_RESULT = 'T' 
	</select>


	<!-- 글 수정 -->
	<!-- <update id="update" parameterType="com.busking.board.model.BoardResDTO"> 
		UPDATE RESERVATIONS SET RES_TITLE = #{resTitle} ,FAQ_CONTENT = #{resContent} 
		WHERE RES_NUM = #{resNum} </update> -->

	<!-- 글 삭제 -->
	<delete id="delete"
		parameterType="com.busking.board.model.BoardResDTO">
		DELETE FROM RESERVATIONS WHERE RES_NUM = #{resNum}
	</delete>

</mapper>






