<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busking.board.model.BoardTeamMapper">

	<select id="getList" parameterType="hashMap" resultType="com.busking.board.model.BoardTeamDTO">
		
		SELECT TEAM_NUM, TEAM_TITLE, TEAM_WRITER, TEAM_REGDATE, TEAM_HIT, TEAM_COUNT, TEAM_RESULT  
		FROM ( 
        	SELECT A.*, ROWNUM AS RN 
        	FROM (
        		SELECT B.* 
	            FROM BOARD_TEAM B 
	            WHERE TEAM_DELETED = 'F' 
	            AND 1 = 1 
	            <choose>
	            	<when test="type != null and type != ''">
		                <choose>
		                    <when test="type == 'title'">
		                    	/*+ INDEX(B IDX_BOARD_TEAM_TITLE) */ 
		                        AND B.TEAM_TITLE LIKE '%' || #{target} || '%' 
		                    </when>
		                    <when test="type == 'content'">
		                        AND B.TEAM_CONTENT LIKE '%' || #{target} || '%' 
		                    </when>
		                    <when test="type == 'writer'">
		                    	 /*+ INDEX(B IDX_BOARD_TEAM_WRITER) */ 
		                        AND B.TEAM_WRITER LIKE '%' || #{target} || '%' 
		                    </when>
		                    <when test="type == 'all'">
		                    	 /*+ INDEX(B PK_IDX_BOARD_TEAM) */ 
		                        AND (B.TEAM_TITLE LIKE '%' || #{target} || '%' 
		                             OR B.TEAM_CONTENT LIKE '%' || #{target} || '%' 
		                             OR B.TEAM_WRITER LIKE '%' || #{target} || '%') 
		                    </when>
		                </choose>
		            </when>
		            <otherwise>
		            	/*+ INDEX(B PK_IDX_BOARD_TEAM) */ 
		            </otherwise>
	            </choose>
            
            	ORDER BY TEAM_NUM DESC 
            ) A  	
        ) 
        WHERE RN > (#{page.pageNum} - 1) * #{page.amount} 
        AND #{page.pageNum} * #{page.amount} >= RN	
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM BOARD_TEAM WHERE TEAM_DELETED = 'F' 
	</select>
	
	<insert id="write" parameterType="com.busking.board.model.BoardTeamDTO">
		INSERT INTO BOARD_TEAM(TEAM_NUM, 
							   TEAM_WRITER, 
							   TEAM_TITLE,
							   TEAM_CONTENT,
							   TEAM_REGDATE,
							   TEAM_COUNT,
							   TEAM_RESULT) 
		VALUES('TEAM_' || LPAD(BOARD_TEAM_SEQ.NEXTVAL, 8, '0'),
		       #{teamWriter},
		       #{teamTitle},
		       #{teamContent},
		       SYSDATE,
		       #{teamCount},
		       #{teamResult}) 
	</insert>
	
	<select id="getContent" resultType="com.busking.board.model.BoardTeamDTO" parameterType="String">
		SELECT TEAM_TITLE, 
		       TEAM_LIKE_COUNT, 
		       TEAM_WRITER, 
		       TEAM_REGDATE, 
		       TEAM_CONTENT, 
		       TEAM_HIT, 
		       TEAM_CMT_COUNT, 
		       TEAM_RESULT, 
		       TEAM_COUNT 
		FROM BOARD_TEAM 
		WHERE TEAM_NUM = #{teamNum}
	</select>
	
	<update id="increaseHit" parameterType="String">
		UPDATE BOARD_TEAM SET TEAM_HIT = TEAM_HIT + 1 WHERE TEAM_NUM = #{teamNum}
	</update>
	
	<update id="delete" parameterType="String">
		UPDATE BOARD_TEAM SET TEAM_DELETED = 'T' WHERE TEAM_NUM = #{teamNum}
	</update>
	
	<update id="edit" parameterType="com.busking.board.model.BoardTeamDTO">
		UPDATE BOARD_TEAM 
		SET TEAM_TITLE = #{teamTitle}, 
		    TEAM_CONTENT = #{teamContent}, 
		    TEAM_COUNT = #{teamCount}, 
		    TEAM_RESULT = #{teamResult} 
		WHERE TEAM_NUM = #{teamNum} 
	</update>
	
	<update id="updateCmtCount" parameterType="com.busking.board.model.BoardTeamDTO">
		UPDATE BOARD_TEAM  
		SET TEAM_CMT_COUNT = #{teamCmtCount} 
		WHERE TEAM_NUM = #{teamNum} 
	</update>

</mapper>