<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busking.board.model.BoardAskMapper">

    <select id="getList" parameterType="hashMap" resultType="com.busking.board.model.BoardAskDTO">
        
        SELECT ASK_NUM, ASK_WRITER, ASK_CONTENT, ASK_REGDATE 
        FROM ( 
        	SELECT A.*, ROWNUM AS RN 
        	FROM (
        		SELECT B.* 
	            FROM BOARD_ASK B 
	            WHERE ASK_DELETED = 'F' 
	            AND 1 = 1 
	            <choose>
	            	<when test="type != null and type != ''">
		                <choose>
		                    <when test="type == 'content'">
		                        AND B.ASK_CONTENT LIKE '%' || #{target} || '%' 
		                    </when>
		                    <when test="type == 'writer'">
		                    	 /*+ INDEX(B IDX_BOARD_ASK_WRITER) */ 
		                        AND B.ASK_WRITER LIKE '%' || #{target} || '%' 
		                    </when>
		                    <when test="type == 'all'">
		                    	 /*+ INDEX(B PK_IDX_BOARD_ASK) */ 
		                        AND (B.ASK_CONTENT LIKE '%' || #{target} || '%' 
		                             OR B.ASK_WRITER LIKE '%' || #{target} || '%') 
		                    </when>
		                </choose>
		            </when>
		            <otherwise>
		            	/*+ INDEX(B PK_IDX_BOARD_ASK) */ 
		            </otherwise>
	            </choose>
            
            	ORDER BY ASK_NUM DESC 
            ) A  	
        ) 
        WHERE RN > (#{page.pageNum} - 1) * #{page.amount} 
        AND #{page.pageNum} * #{page.amount} >= RN
    </select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM BOARD_ASK WHERE ASK_DELETED = 'F'  
	</select>
	
	<insert id="write" parameterType="com.busking.board.model.BoardAskDTO">
		INSERT INTO BOARD_ASK(ASK_NUM, 
							   ASK_WRITER, 
							   ASK_CONTENT) 
		VALUES('ASK_' || LPAD(BOARD_ASK_SEQ.NEXTVAL, 8, '0'), 
		       #{askWriter}, 
		       #{askContent}
		       )
	</insert>
	
	<update id="delete" parameterType="String">
		UPDATE BOARD_ASK 
		SET ASK_DELETED = 'T' 
		WHERE ASK_NUM = #{askNum}
	</update>
	
	<update id="edit" parameterType="com.busking.board.model.BoardAskDTO">
		UPDATE BOARD_ASK 
		SET ASK_CONTENT = #{askContent} 
		WHERE ASK_NUM = #{askNum}
	</update>

</mapper>