<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busking.board.model.BoardNewsMapper">

	<select id="getList" parameterType="com.busking.util.paging.PageVO" resultType="com.busking.board.model.BoardNewsDTO">
		
		SELECT NEWS_NUM, NEWS_TITLE, NEWS_WRITER, NEWS_REGDATE, NEWS_HIT 
		FROM (
			SELECT ROWNUM RN,
			       N.* 
			FROM BOARD_NEWS N 
			ORDER BY NEWS_NUM DESC 
		) 
		WHERE RN > (#{pageNum} - 1) * #{amount} and #{pageNum} * #{amount} >= RN 				
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM BOARD_NEWS 
	</select>
	
	<insert id="write" parameterType="com.busking.board.model.BoardNewsDTO">
		INSERT INTO BOARD_NEWS(NEWS_NUM, 
							   NEWS_WRITER, 
							   NEWS_TITLE,
							   NEWS_CONTENT,
							   NEWS_REGDATE) 
		VALUES('NEWS_' || LPAD(BOARD_NEWS_SEQ.NEXTVAL, 8, '0'),
		       #{newsWriter},
		       #{newsTitle},
		       #{newsContent},
		       SYSDATE)
	</insert>
	
	<select id="getContent" resultType="com.busking.board.model.BoardNewsDTO" parameterType="String">
		SELECT NEWS_TITLE, NEWS_LIKE_COUNT, NEWS_WRITER, NEWS_REGDATE, NEWS_CONTENT, NEWS_HIT, NEWS_CMT_COUNT 
		FROM BOARD_NEWS 
		WHERE NEWS_NUM = #{newsNum}
	</select>
	
	<update id="increaseHit" parameterType="String">
		UPDATE BOARD_NEWS SET NEWS_HIT = NEWS_HIT + 1 WHERE NEWS_NUM = #{newsNum}
	</update>

</mapper>