<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.busking.reservation.model.ReservationMapper">

    <select id="getReservationLocations" resultType="com.busking.reservation.model.ReservationLocationDTO">       
        SELECT L.LOCA_ID, L.LOCA_NAME, L.LOCA_INFO, L.LOCA_PIC_PATH, L.LOCA_PLACE, M.MANAGER_EMAIL
		FROM LOCATIONS L 
		LEFT JOIN MANAGER M
		ON L.LOCA_PLACE = M.LOCA_PLACE ORDER BY LOCA_ID 
    </select>
    
    <select id="getReservationLocationById" parameterType="int" resultType="com.busking.reservation.model.ReservationLocationDTO">
        SELECT L.LOCA_ID, L.LOCA_NAME, L.LOCA_INFO, L.LOCA_PIC_PATH, L.LOCA_PLACE, M.MANAGER_EMAIL, L.LOCA_POINT_X, L.LOCA_POINT_Y
        FROM LOCATIONS L 
		LEFT JOIN MANAGER M ON L.LOCA_PLACE = M.LOCA_PLACE
		WHERE LOCA_ID = #{locaId}        
    </select>
    
    <insert id="createReservation" parameterType="com.busking.reservation.model.ReservationsDTO">
        INSERT INTO RESERVATIONS (USER_ID, LOCA_ID, RES_DATE, RES_REGDATE, RES_COUNT, RES_CONTENT, RES_AMP, RES_RESULT, RES_TIME, RES_TIME_LAST, DATE_NUM)
        VALUES (#{userId}, #{locaId}, #{resDate}, #{resRegDate}, #{resCount}, #{resContent}, #{resAmp}, #{resResult}, #{resTime}, #{resTimeLast}, #{dateNum})
    </insert>
    
</mapper>
