<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.busking.admin.model.AdminMapper">

	<select id="getList" resultType="com.busking.admin.model.AdminPageDTO">
	
		SELECT 
			R.RES_NUM AS RES_NUM,
			R.USER_ID AS USER_ID, 
			U.USER_NAME AS USER_NAME, 
			R.RES_DATE AS RES_DATE, 
			L.LOCA_NAME AS LOCA_NAME, 
			R.RES_AMP AS RES_AMP, 
			R.RES_CONTENT AS RES_CONTENT, 
			R.RES_COUNT AS RES_COUNT, 
			U.USER_PNO AS USER_PNO, 
			U.USER_EMAIL AS USER_EMAIL, 
			U.USER_ADDR AS USER_ADDR, 
			M.MANAGER_ID AS MANAGER_ID 
		FROM 
			RESERVATIONS R 
			JOIN USERS U ON R.USER_ID = U.USER_ID 
			JOIN LOCATIONS L ON R.LOCA_ID = L.LOCA_ID 
			JOIN MANAGER M ON L.LOCA_PLACE = M.LOCA_PLACE 
		WHERE M.MANAGER_ID = #{managerId, jdbcType=VARCHAR} 
		AND R.RES_DATE LIKE CONCAT('24/', CONCAT(#{month, jdbcType=VARCHAR}, '/%'))
			

	</select>


	<!-- 페이징 코드 -->
	<!-- <select id="getTotal" resultType="int"> SELECT COUNT(*) FROM BUSKING 
		</select> -->



	<!-- <select id="getTotal" resultType="int"> SELECT COUNT(*) FROM BUSKING 
		</select> -->


	 <update id="updateResultT" parameterType="String">
	 UPDATE RESERVATIONS SET RES_RESULT = 'T' WHERE RES_NUM = #{resNum} 
    </update>


	<update id="updateResultF" parameterType="String">
	 UPDATE RESERVATIONS SET RES_RESULT = 'F' WHERE RES_NUM = #{resNum} 
    </update>
    
    
    <update id="updateResultN" parameterType="String">
	 UPDATE RESERVATIONS SET RES_RESULT = NULL WHERE RES_NUM = #{resNum} 
    </update>




</mapper>