@charset "UTF-8";

@import url(../default.css);

@font-face {
    font-family: 'nanumsquare';
    src: url('../../fonts/nanum-square/NanumSquare_acL.ttf');
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../../fonts/NanumSquareNeo/NanumSquareNeo/TTF/NanumSquareNeo-bRg.ttf');
}

@font-face {
    font-family: 'NanumSquareNeoB';
    src: url('../../fonts/NanumSquareNeo/NanumSquareNeo/TTF/NanumSquareNeo-eHv.ttf');
}

* {font-family: 'NanumSquareNeo';}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

thead th, tbody td {
    border: 1px solid black;
}

@media (min-width:1200px) {
    #board_free_list_wrap {
        width: 1170px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    #board_free_list_wrap {
        width: 970px;
    }

    #board_free_list_wrap {
        padding: 10px 20px !important;
        margin-top: 20px !important;
    }

    #board_free_list_wrap .board_nav #board_nav_wrap {
        display: none;
    }

    .wrap_board_free > .wrap_board_free_list {
        margin-left: 10px !important;
    }

    #board_free_list_wrap .wrap_board_free .wrap_board_free_list {
        padding: 0 !important;
        margin-left: 0px !important; 
    }

    #board_free_list_wrap .wrap_board_free > .wrap_board_free_list .board_free_list_box {
        padding: 0px;
    }

    #board_free_list_wrap .wrap_board_free > .wrap_board_free_list .wrap_board_free_list_title {
        padding: 0px  !important;
    }

    #board_content .board_content_box {
        padding: 0px 10px !important;
    }

    #board_content .board_content_box .inner_box {
        padding: 0 !important;
        margin-left: 0px !important; 
    }

    .wrap_board_free_list .page_nav {
        padding: 0px !important;
    }

    .board_free_search {
        padding: 0px !important;
    }
}

@media (max-width:991px) {
    #board_free_list_wrap {
        width: 750px;
    }

    #board_free_list_wrap {
        padding: 10px 20px !important;
        margin-top: 20px !important;
    }

    #board_free_list_wrap .board_nav #board_nav_wrap {
        display: none;
    }

    .wrap_board_free > .wrap_board_free_list {
        margin-left: 10px !important;
    }

    #board_free_list_wrap .wrap_board_free .wrap_board_free_list {
        padding: 0 !important;
        margin-left: 0px !important; 
    }

    #board_free_list_wrap .wrap_board_free > .wrap_board_free_list .board_free_list_box {
        padding: 0px;
    }

    #board_free_list_wrap .wrap_board_free > .wrap_board_free_list .wrap_board_free_list_title {
        padding: 0px  !important;
    }

    #board_content .board_content_box {
        padding: 0px 10px !important;
    }

    #board_content .board_content_box .inner_box {
        padding: 0 !important;
        margin-left: 0px !important;
    }

    .wrap_board_free_list .page_nav {
        padding: 0px !important;
    }

    .board_free_search {
        padding: 0px !important;
    }
}

#board_free_list_wrap {
    padding: 150px 50px 0 50px;
    margin: 0 auto;
    overflow: hidden;
}

#board_free_list_wrap .board_nav {
    float: left;
}

#board_free_list_wrap .board_nav #board_nav_wrap.h1 {
    font-family: 'nanumsquare';
}

#board_free_list_wrap .wrap_board_free {
    padding: 30px; 
    margin: 0 auto;
}

#board_free_list_wrap .wrap_board_free .wrap_board_free_list {
    margin-left: 170px;
}

/* #board_free_list_wrap .wrap_board_free .wrap_board_free_list .wrap_board_free_list_title {
    padding: 0 70px;
} */

#board_free_list_wrap .wrap_board_free .wrap_board_free_list .wrap_board_free_list_title div {
    font-family: 'nanumsquare';
    width: 100%;
    padding: 0 15px 15px;
    font-size: 25px;
    letter-spacing: -1px;
    display: block;
    border-bottom: 1px solid #cccccc;
    color: #3a3939;
    line-height: 1.3;
}

.wrap_board_free > .wrap_board_free_list .board_free_list_box {
    width: 100%;
    margin-top: 40px;
    /* padding: 0px 70px; */
}

.wrap_board_free > .wrap_board_free_list .board_free_list_content {
    width: 100%;
    border-collapse: collapse;
}

.wrap_board_free > .wrap_board_free_list .board_free_list_content th,
.wrap_board_free > .wrap_board_free_list .board_free_list_content td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: none;
    border-right: none;
}

.wrap_board_free > .wrap_board_free_list .board_free_list_content th {
    background-color: #F0F7FD;
    height: 45px;
}

.wrap_board_free > .wrap_board_free_list .board_free_list_content td {
    height: 40px;
}

.wrap_board_free > .wrap_board_free_list .board_free_list_content th.nth1,
.wrap_board_free > .wrap_board_free_list .board_free_list_content td.nth1 {
    width: 10%;
}

.wrap_board_free > .wrap_board_free_list .board_free_list_content th.nth2,
.wrap_board_free > .wrap_board_free_list .board_free_list_content td.nth2 {
    width: 10%;

}

.wrap_board_free > .wrap_board_free_list .board_free_list_content th.nth3,
.wrap_board_free > .wrap_board_free_list .board_free_list_content td.nth3 {
    width: 60%;
	max-width: 456px;
}

.wrap_board_free > .wrap_board_free_list .board_free_list_content th.nth4,
.wrap_board_free > .wrap_board_free_list .board_free_list_content td.nth4 {
    width: 10%;

}

.wrap_board_free > .wrap_board_free_list .board_free_list_content th.nth5,
.wrap_board_free > .wrap_board_free_list .board_free_list_content td.nth5 {
    width: 10%;

}

.wrap_board_free_list .page_nav {
    margin-top: 25px; 
    /* padding: 0px 70px; */
    justify-content: space-between;
    text-align: center;
    justify-content: center;
}

.wrap_board_free_list .page_nav .center {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    padding: 0;
    height: 36px;
    margin: auto;
}

.wrap_board_free_list .page_nav ul li {
    margin: 0 5px;
}

.wrap_board_free_list .page_nav ul li .page_link {
    text-decoration: none;
    color: #000;
    padding: 5px;
    font-size: 17px;
}
.wrap_board_free_list .page_nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    font-size: 17px;
}

.wrap_board_free_list .page_nav ul li a > i,
.wrap_board_free_list .page_nav ul li .page_link > i{
	font-size: 15px;
}

.wrap_board_free_list .page_nav ul li a:hover {
    color: #daeede;
}

.page_nav .center .page_li.active > a {
    font-family: 'NanumSquareNeoB';
}

.wrap_board_free_list .page_nav .right {
    margin-left: auto;
}

.wrap_board_free_list .page_nav .right button {
    float: right;
    display: inline-block;
    font-size: 17px;
    text-align: center;
    height: 38px;
    width: 75px;
    background-color: #5FD7FF;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}

.board_free_search {
    margin-top: 50px;
    display: flex;
    align-items: center;
    /* padding: 0px 70px; */
}

.board_free_search .board_search_box {
    height: 39px;
    font-size: 17px;
    padding-left: 10px;
}

.board_free_search > input {
    height: 39px;
    margin-left: 10px;
    width: 100%;
    padding-left: 13px;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid #c9cccef3;
}

.board_free_search > input:focus {
    border: 1.5px solid #5FD7FF;
    outline: none;
    color: #000000;
}

.board_free_search .btn {
    margin-left: 10px;
    font-size: 17px;
    height: 38px;
    width: 75px;
    background-color: white;
    border: 1px solid #c9cccef3;
    outline: none;
    box-shadow: none;
}

.board_free_search .btn:hover {
    background-color: #5fd7ff52;
    border: none;
    outline: none;
    cursor: pointer;
}

.board_free_search .btn:focus,
.board_free_search .btn:active,
.board_free_search .btn:active:focus {
    outline: none;
    box-shadow: none;
}
