@import url(../default.css);

@font-face {
    font-family: 'NanumSquareNeo';
    src: url('../../fonts/NanumSquareNeo/NanumSquareNeo/TTF/NanumSquareNeo-bRg.ttf');
}

@font-face {
    font-family: 'NanumSquareNeoB';
    src: url('../../fonts/NanumSquareNeo/NanumSquareNeo/TTF/NanumSquareNeo-eHv.ttf');
}

* {font-family: 'NanumSquareNeo';}

@media (min-width:1200px) {
    #board_content {
        width: 1170px;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    #board_content {
        width: 970px;
    }
    
    #board_content .board_nav #board_nav_wrap {
        display: none;
    }

    #board_content {
        padding: 10px 0px !important;
        margin-top: 50px !important;
    }

    #board_content .board_content_box {
        padding: 0px 10px !important;
    }

    #board_content .board_content_box .inner_box {
        padding: 0 !important;
        margin-left: 0px !important; 
    }
}

@media (max-width:991px) {
    #board_content {
        width: 750px;
    }

    #board_content .board_nav #board_nav_wrap {
        display: none;
    }

    #board_content {
        padding: 10px 0px !important;
        margin-top: 50px !important;
    }

    #board_content .board_content_box {
        padding: 0px 10px !important;
    }

    #board_content .board_content_box .inner_box {
        padding: 0 !important;
        margin-left: 0px !important; 
    }
}

#board_content {
    padding: 150px 50px 0 50px;
    margin: 0 auto;
}

#board_content .board_nav {
    float: left;
    margin-right: 100px;
}

#board_content .board_content_box {
    width: 100%;
    /* max-height: 100%; */
}

#board_content .board_content_box .inner_box {
    padding: 2rem 0px 3rem; 
    margin-left: 190px;
}

/* #board_content .board_content_box .inner_box .inner {
    padding: 0px 80px;
} */

/*색상참고 #98FF98 #98FB98 #90EE90 #3CB371 #00FA9A #228B22 #32CD32 #00FF7F #006400 #7FFF00
*/

#board_content .board_content_box .inner_box .inner .inner_top .category {
    /* background-color: rgb(255, 251, 227); */
    background-color: rgb(194, 205, 216);
    color: white;
    font-size: 15px;
    line-height: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    display: inline-block;
    margin-top: 0px;
}

#board_content .board_content_box .inner_box .inner .inner_top .title {
    font-size: 18px;
    padding: 15px 3px 10px 3px;
    margin-top: 10px;
}

#board_content .board_content_box .inner_box .inner .inner_top .title strong {
    font-size: 25px;
}

#board_content .board_content_box .inner_box .inner .inner_top .title .new {
    font-family: 'NanumSquareNeoB';
    color: white;
    /* background-color: #98FF98; */
    background-color: #5FD7FF;
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 100%;
    border-radius: 10px;
    padding: 3px 5px;
    margin-left: 10px;
}    

#board_content .board_content_box .inner_box .inner .inner_top .info {
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}

#board_content .board_content_box .inner_box .inner .inner_top .info .writer {
    font-size: 15px;
    padding: 8px;
   
}

#board_content .board_content_box .inner_box .inner .inner_top .info .date {
    font-size: 14px;
    padding: 8px;
    color: gray;
}

#board_content .board_content_box .inner_box .inner .inner_mid .content {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    min-height: 300px;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0.5px;
}

#board_content .board_content_box .inner_box .inner .inner_mid .like_container {
    padding: 10px;
    display: flex;
    align-items: center;
    /* border: 2px solid #000000; */
    width: 200px;
    /* border-radius: 20px; */
    margin-top: 15px;
}

#board_content .board_content_box .inner_box .inner .inner_mid .like_container .like_button {
    background-color: rgb(255, 255, 255);
    /* width: 50px; */
    border: 0px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #board_content .board_content_box .inner_box .inner_mid .like_container .like_button img {
    width: 25px; 
    height: 25px;
}
 */
#board_content .board_content_box .inner_box .inner_mid .like_container .like_button i {
	font-size: 25px;
    width: 25px; 
    height: 25px;
    color: black;
}
#board_content .board_content_box .inner_box .inner_mid .like_container .like_button i.like {
	color: red;
}
#board_content .board_content_box .inner_box .inner .inner_mid .like_container .like_count {
    margin-left: 15px; 
    font-size: 18px; 
    display: flex;
    align-items: center; 
    height: 30px; 
}

#board_content .board_content_box .inner_box .inner .inner_bottom {
    /* display: flex; */
    writing-mode: 100%;
    align-items: center;
    line-height: 40px;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 20px;
}

#board_content .board_content_box .inner_box .inner .inner_bottom .inner_bottom_left div {
    display: flex;
    float: left;
    align-items: center;
    margin-right: 20px;
}

#board_content .board_content_box .inner_box .inner .inner_bottom .inner_bottom_left div img {
    width: 20px;  
    height: 20px; 
    margin-right: 5px;
}

#board_content .board_content_box .inner_box .inner .inner_bottom .inner_bottom_left div span {
    font-size: 17px;
    margin-left: 10px;
}

#board_content .board_content_box .inner_box .inner .inner_bottom .inner_bottom_left .count span {
    margin-left: 12px;
}

#board_content .board_content_box .inner_box .inner .inner_bottom .inner_bottom_right {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 버튼을 오른쪽 정렬 */
}

#board_content .board_content_box .inner_box .inner .inner_bottom .inner_bottom_right button {
    margin-left: 10px; /* 버튼 간 간격 추가 */
}

#board_content .board_content_box .inner_box .inner .inner_bottom .inner_bottom_right .edit_button {
    width: 75px;
    height: 40px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    background-color: #5FD7FF;
    color: white;
    font-weight: 500;
}

#board_content .board_content_box .inner_box .inner .inner_bottom .inner_bottom_right .delete_button {
    width: 75px;
    height: 40px;
    border-radius: 3px;
    background-color: white;
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid rgb(209, 209, 209);
}

#board_content .board_content_box .inner_box .inner .inner_bottom .inner_bottom_right .list_button {
    width: 75px;
    height: 40px;
    border-radius: 3px;
    background-color: white;
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid rgb(209, 209, 209);
}
#board_content .board_content_box .inner_box .inner .comment_box {
	/* background-color: #F0F7FD; */
	padding-bottom: 20px;
	position: relative;
}
#board_content .board_content_box .inner_box .inner .comment_box > iframe {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #F0F7FD;
/* 	height: auto;
    max-height: none; 높이 제한 해제
	overflow: auto; */
}