@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: NanumSquareNeoBold;
}

ul,
li,
ol,
dl,
dd {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}



/* 반응형 기준값 */
@media (min-width:1200px) {
    #change {
        width: 1170px;

        /* border: 1px solid red; */
    }

    /* 테이블 */
    .board .service-board .container {
        /* border: 1px solid green; */
        width: 900px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    #change {
        width: 970px;
        /* border: 1px solid rgb(255, 166, 0); */

    }

    /* 테이블 */
    .board .service-board .container {
        /* border: 1px solid green; */
        width: 700px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    #change {
        width: 750px;
        /* border: 1px solid rgb(0, 255, 191); */

    }

    /* 테이블 */
    .board .service-board .container {
        /* border: 1px solid green; */
        width: 490px;
    }
}



body {}

/* 그리드 */
.container .row {}

/* header */
.container .row .header {}


/* 중앙 레이아웃 */
#change .row {
    overflow: hidden;
}

#change .row .content {
    /* border: 1px solid red; */
    float: left;
    width: 250px;
    margin-top: 40px;
}

#change .row .board {
    /* border: 1px solid blue; */
    margin-top: 30px;
    width: 500px;
}


/* 좌측 메뉴 */
.container .row .content li .service_menu {
    margin-top: 60px;
}

.container .row .content li .service_menu nav {
    float: left;
    padding: 40px 10px;
    overflow: hidden;
    width: 150px;
    background-color: #e1e9ee9d;
    /* background-color: #D8EFEF; */
    /* border-top-right-radius: 30px; */
    border-bottom-right-radius: 50px;
    scale: 1.2;

    transform-origin: top left;

}


.container .row .content li .service_menu nav h1 {
    font-size: 24px;
    letter-spacing: 2px;
    display: block;
    padding: 0 15px 15px;
    border-bottom: 2px solid #000;
    color: #1a1a1a;
    line-height: 1.3;
    margin-bottom: 9px;


}

.container .row .content li .service_menu nav>.menu {
    float: left;
    width: 400px;


}

.container .row .content li .service_menu nav>.menu>li {
    padding: 15px 10px;
    letter-spacing: 1px;
    display: block;
    width: 200px;


}

.container .row .content li .service_menu a {
    text-decoration: none;
    color: black;
    padding: 5px 5px;

}

.container .row .content li .service_menu a:hover {
    /* background-color: #9CD9D9; */
    border-radius: 20px;
}

.container .row .content li .service_menu nav .menu .nth1 a:hover {
    background-color: #9CD9D9;
    /* nth1의 마우스 오버 시 배경색 변경 */
}

.container .row .content li .service_menu nav .menu .nth2 a:hover {
    background-color: #8AC89A;
    /* nth1의 마우스 오버 시 배경색 변경 */
}

.container .row .content li .service_menu nav .menu .nth3 a:hover {
    background-color: #BAD98B;
    /* nth1의 마우스 오버 시 배경색 변경 */
}

.container .row .content li .service_menu nav .menu .nth4 a:hover {
    background-color: #78C2AD;
    /* nth1의 마우스 오버 시 배경색 변경 */
}

.container .row .content li .service_menu nav>h1 {
    font-size: 20px;
}

.container .row .content li .service_menu .menu li strong a {
    font-size: 12px;
}


/* 게시판 */




/* 테이블 */
.board .service-board .container {
    /* border: 1px solid green; */
    /* box-shadow: 1px 2px 3px #555555 */
    /* box-shadow: none | x-position y-position blur spread color | inset | initial | inherit */

}

/* 게시판 버튼 */
.service-board .pagination {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;

    margin-top: 20px;
    font-size: 12px;
}

.service-board .pagination ul {
    border: none;
    width: 10px;


}

.service-board .pagination li a {
    border: none;
    width: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.service-board .write-button {
    /* border: 1px solid red; */

    display: flex;
    justify-content: end;

    padding: 12px 0px;
}

/* 글작성 버튼 효과 */
.service-board .write-button .write1{
    background-color: #5fd7ff;
    color: black;
    border: none;

}
.service-board .write-button .write1:active {
    background-color: #5fd7ff;
    color: white;
    border: none;

}









/* footer */
.extra {
    display: block;

    width: 100px;
    height: 100px;

    margin-top: 100px;
}


